/* RESET */
body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

a { text-decoration: none; }


nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 9999;
  backdrop-filter: blur(12px);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #f08800;
  line-height: 1.5rem;
}


.nav__menu__btn {
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}

.nav__links {
  bottom: 0;
  left: 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;  /* 👈 Yahi galat tha */
  transition: transform 0.5s;
  z-index: -1;
  gap: 0.1rem;
  padding: 2rem;
  margin-right: 200px;
  list-style: none;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {
  font-size: 1rem;
  color: #ffffff;
  white-space: nowrap;
}

.nav__links a:hover {
  color: #ff9306;
}



/* HERO */
.support__hero {
  background: url('assets/support-hero.jpeg') center/cover no-repeat;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.support__hero::after {
  content: "";
  position: absolute; inset: 0;
  background: rgba(0,0,0,0.6);
}

.hero__content {
  position: relative;
  text-align: center;
  z-index: 2;
  padding-top: 50px;
}

.hero__content h1 {
  font-size: 4rem;
  max-width: 800px;
  margin: 0 auto 2rem;
  line-height: 1.2;
}


/* TICKER */
.ticker {
  background: #111;
  padding: 1rem O;
  overflow: hidden;
}

.ticker p {
  display: inline-block;
  white-space: nowrap;
  animation: ticker 15s linear infinite;
  font-weight: bold;
  color: #FF9F1C;
  
}

@keyframes ticker {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}

/* WAYS */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}

.section__title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #FF9F1C;
}

.ways__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.way__card {
  background: #111;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  border: 2px solid transparent;
  transition: 0.3s;
}

.way__card:hover {
  border-color: #FF9F1C;
  transform: translateY(-5px);
}

.icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.support__cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, rgba(10,10,10,0.9), rgba(20,20,20,0.7));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 6rem 5%;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}

.support__cta__content {
  max-width: 50%;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 1rem;
  padding: 3rem;
  backdrop-filter: blur(15px);
}

.support__cta__content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #fff;
}

.support__cta__content p {
  font-size: 1.2rem;
  color: #ddd;
  margin-bottom: 2rem;
}

.support__cta__content:hover{
border-color: #ff1c1c;
  transform: translateY(-9px);
}

.support__cta__content .btn {
  display: inline-block;
  background: #FF9F1C;
  color: #111;
  padding: 1rem 2.5rem;
  border-radius: 50px;
  font-weight: 600;
  transition: 0.3s ease;
}

.support__cta__content .btn:hover {
  background: #fff;
  color: #111;
}

.support__cta__image {
  position: relative;
  max-width: 50%;
  text-align: right;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

.support__cta__image img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 1rem;
  display: block;
  transform: scale(1.05);
  filter: brightness(0.85) contrast(1.1) saturate(1.2);
}

.support__cta__image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.4) 100%
  ), linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.3)
  );
  border-radius: 1rem;
  z-index: 1;
}

.support__cta__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.08) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
  z-index: 2;
  animation: shine 5s infinite linear;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  color: #777;
}



@media (max-width: 768px) {

  nav {
    flex-direction: row;
    height: auto;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    background-color: #080808;
  }

  .nav__menu__btn {
    display: block;
    margin-left: 285px;
    margin-top: -30px !important;
  }
  .nav__logo a {
    line-height: 2.5rem;
  }

  .nav__links {
   position: absolute;
    bottom: 32px;
    left: -59px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: black;
    transition: transform 0.5s;
    z-index: -1;
  }

  .nav__links.open {
   transform: translateY(95%);
  }

  .nav__links li {
    margin: 1rem 0;
  }
   .support__cta {
    flex-direction: column;
    padding: 4rem 2rem;
    text-align: center;
  }

  .support__cta__content {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .support__cta__image {
    max-width: 100%;
  }

  .support__cta__image img {
    height: auto;
    width: 100%;
  }

}



.btn-login {
  background: #FF9F1C;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  color: #111;
  transition: 0.3s ease;
}

.btn-login:hover {
  background: #fff;
  color: #111;
}


.auth-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 99999;
}

.auth-modal.show {
  opacity: 1;
  pointer-events: auto;
}

.auth-modal__content {
  background: rgba(17,17,17,0.95);
  padding: 3rem 2rem;
  border-radius: 1rem;
  position: relative;
  max-width: 330px;
  width: 90%;
  text-align: center;
  animation: fadeUp 0.4s ease forwards;
}

.auth-modal__close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.auth-form h2 {
  margin-bottom: 1.5rem;
  color: #FF9F1C;
}

.auth-form form input {
  width: 90%;
  margin-bottom: 1rem;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 50px;
  background: #222;
  color: #fff;
}

.auth-form form input::placeholder {
  color: #aaa;
}

.auth-form .btn-primary {
  background: #FF9F1C;
  color: #111;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.auth-form .btn-primary:hover {
  background: #fff;
  color: #111;
}

.auth-switch {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #fff; /* ✅ yahi important hai */
}

.auth-switch a {
  color: #FF9F1C;
  text-decoration: underline;
  cursor: pointer;
}



.auth-form.hidden {
  display: none;
}

@keyframes fadeUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

